In [2]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print (s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [4]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [6]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [7]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [8]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [9]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [10]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [11]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [12]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
      

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [13]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [14]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [15]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [16]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [17]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [18]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)
# Drop rows with label 0
df = df.drop(0)

print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
1  3  4
1  7  8

In [19]:
# creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print (p['Item1'])

          0         1         2
0  0.281630  0.527216 -1.949870
1 -1.034413 -0.736656  0.632199
2 -0.196053  1.194319 -1.172902
3 -1.361487 -0.750777 -0.221261

C:\Users\HI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [20]:
# creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print (p.major_xs(1))

      Item1     Item2
0 -2.606841 -0.509852
1 -0.524913 -2.388823
2  2.167001       NaN

C:\Users\HI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print (s)

0   -1.046009
1   -0.483644
2    0.270355
3    1.220239
dtype: float64

In [22]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [23]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0   -0.685344
1   -0.603958
2   -0.042869
3   -0.258136
dtype: float64
The dimensions of the object:
1

In [24]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print (s)
print ("The size of the object:")
print (s.size)

0   -0.298208
1    0.347382
dtype: float64
The size of the object:
2

In [25]:
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0    1.134266
1   -0.935856
2   -0.422113
3    0.163641
dtype: float64
The actual data series is:
[ 1.13426595 -0.93585632 -0.42211318  0.16364136]

In [26]:
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The first two rows of the data series:")
print (s.head(2))

The original series is:
0   -0.119622
1    1.268652
2   -0.576322
3    0.157284
dtype: float64
The first two rows of the data series:
0   -0.119622
1    1.268652
dtype: float64

In [27]:
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0   -0.880232
1    0.132342
2   -0.723396
3   -0.425807
dtype: float64
The last two rows of the data series:
2   -0.723396
3   -0.425807
dtype: float64

In [28]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [29]:
df.T

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [30]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [31]:
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [32]:
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [33]:
print ("The dimension of the object is:")
print (df.ndim)

The dimension of the object is:
2

In [34]:
print ("The shape of the object is:")
print (df.shape)

The shape of the object is:
(7, 3)

In [35]:
print ("The total number of elements in our object is:")
print (df.size)

The total number of elements in our object is:
21

In [36]:
print ("The actual data in our data frame is:")
print (df.values)

The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [37]:
print ("The first two rows of the data frame is:")
print (df.head(2))

The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24

In [38]:
print ("The last two rows of the data frame is:")
print (df.tail(2))

The last two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8

In [39]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [40]:
print (df.sum())

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [41]:
print(df.axes)

[RangeIndex(start=0, stop=12, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [42]:
print(df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [43]:
df.mean()

Age       31.833333
Rating     3.743333
dtype: float64

In [44]:
df.std()

Age       9.232682
Rating    0.661628
dtype: float64

In [45]:
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [46]:
df.describe(include=['object'])

          Name
count       12
unique      12
top     Andres
freq         1

In [47]:
print(df.describe(include='all'))

          Name        Age     Rating
count       12  12.000000  12.000000
unique      12        NaN        NaN
top     Andres        NaN        NaN
freq         1        NaN        NaN
mean       NaN  31.833333   3.743333
std        NaN   9.232682   0.661628
min        NaN  23.000000   2.560000
25%        NaN  25.000000   3.230000
50%        NaN  29.500000   3.790000
75%        NaN  35.500000   4.132500
max        NaN  51.000000   4.800000

In [48]:
def adder(ele1,ele2):
   return ele1+ele2

In [49]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print(df.pipe(adder,2))

       col1      col2      col3
0 -1.532585 -0.617991 -1.777939
1  0.910777 -0.570028  0.340783
2 -0.704999  0.581967 -0.402659
3  0.747402 -1.260057 -0.265085
4 -2.451718 -0.233384 -1.563948
       col1      col2      col3
0  0.467415  1.382009  0.222061
1  2.910777  1.429972  2.340783
2  1.295001  2.581967  1.597341
3  2.747402  0.739943  1.734915
4 -0.451718  1.766616  0.436052

In [50]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
print (df.apply(np.mean))

col1    1.066095
col2    0.501408
col3    0.422066
dtype: float64

In [51]:
N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

print(df)

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

            A     x         y       C           D
0  2016-01-01   0.0  0.585262    High  109.671024
1  2016-01-02   1.0  0.821974  Medium  112.655622
2  2016-01-03   2.0  0.022927    High  109.935844
3  2016-01-04   3.0  0.469494  Medium  102.591152
4  2016-01-05   4.0  0.414081    High   96.156266
5  2016-01-06   5.0  0.697440    High  107.347997
6  2016-01-07   6.0  0.224976    High   86.225676
7  2016-01-08   7.0  0.754810     Low   89.467100
8  2016-01-09   8.0  0.257103    High   94.967228
9  2016-01-10   9.0  0.540867     Low  102.539455
10 2016-01-11  10.0  0.069127  Medium  102.043044
11 2016-01-12  11.0  0.989864    High   96.394700
12 2016-01-13  12.0  0.874791  Medium   99.909240
13 2016-01-14  13.0  0.708824    High   87.551438
14 2016-01-15  14.0  0.537361  Medium   83.922666
15 2016-01-16  15.0  0.103066    High  104.703616
16 2016-01-17  16.0  0.985387  Medium   95.679697
17 2016-01-18  17.0  0.329286    High  104.093518
18 2016-01-19  18.0  0.755181  Medium   87.383958
19 2016-01-20  19.0  0.454733    High  103.952873
           A     C   B
0 2016-01-01  High NaN
2 2016-01-03  High NaN
5 2016-01-06  High NaN

In [52]:
for col in df:
   print (col)

A
x
y
C
D

In [53]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for key,value in df.iteritems():
   print (key,value)

col1 0    0.006972
1    1.049616
2   -0.130412
3    1.460603
Name: col1, dtype: float64
col2 0    0.651038
1   -0.361207
2   -0.027681
3    2.221903
Name: col2, dtype: float64
col3 0    0.575731
1   -0.673766
2   -1.397162
3   -0.460829
Name: col3, dtype: float64

In [54]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row_index,row in df.iterrows():
   print (row_index,row)

0 col1   -0.994427
col2   -1.753108
col3    2.454114
Name: 0, dtype: float64
1 col1   -0.873943
col2   -0.478746
col3   -0.213979
Name: 1, dtype: float64
2 col1   -0.478572
col2    0.627948
col3   -0.666606
Name: 2, dtype: float64
3 col1    0.219643
col2   -2.433074
col3    0.292245
Name: 3, dtype: float64

In [55]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row in df.itertuples():
    print (row)

Pandas(Index=0, col1=-0.44327212042660025, col2=0.12872801369870196, col3=1.8891958363834571)
Pandas(Index=1, col1=0.066706410813356, col2=1.3366722731302876, col3=-0.4344972662312802)
Pandas(Index=2, col1=0.8016608901969611, col2=0.6957256002224259, col3=-1.2395619787047778)
Pandas(Index=3, col1=-1.2452090418239963, col2=0.1873887091584972, col3=-0.9417721074430249)

In [56]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

       col2      col1
1 -0.047935 -1.052239
4 -1.062945  1.400351
6  0.084098 -0.271819
2  0.956789  1.228231
3  0.624272  1.294912
5 -0.011306  0.069629
9  0.080559  0.670533
8 -0.016130  0.309956
0  0.719653 -0.371762
7  1.227294 -1.375409

In [57]:
sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col2      col1
0  0.719653 -0.371762
1 -0.047935 -1.052239
2  0.956789  1.228231
3  0.624272  1.294912
4 -1.062945  1.400351
5 -0.011306  0.069629
6  0.084098 -0.271819
7  1.227294 -1.375409
8 -0.016130  0.309956
9  0.080559  0.670533

In [58]:
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  0.080559  0.670533
8 -0.016130  0.309956
7  1.227294 -1.375409
6  0.084098 -0.271819
5 -0.011306  0.069629
4 -1.062945  1.400351
3  0.624272  1.294912
2  0.956789  1.228231
1 -0.047935 -1.052239
0  0.719653 -0.371762

In [59]:
sorted_df=unsorted_df.sort_index(axis=1)

print (sorted_df)

       col1      col2
1 -1.052239 -0.047935
4  1.400351 -1.062945
6 -0.271819  0.084098
2  1.228231  0.956789
3  1.294912  0.624272
5  0.069629 -0.011306
9  0.670533  0.080559
8  0.309956 -0.016130
0 -0.371762  0.719653
7 -1.375409  1.227294

In [60]:
sorted_df = unsorted_df.sort_values(by='col1')

print (sorted_df)

       col2      col1
7  1.227294 -1.375409
1 -0.047935 -1.052239
0  0.719653 -0.371762
6  0.084098 -0.271819
5 -0.011306  0.069629
8 -0.016130  0.309956
9  0.080559  0.670533
2  0.956789  1.228231
3  0.624272  1.294912
4 -1.062945  1.400351

In [61]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by=['col1','col2'])

print (sorted_df)

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

In [62]:
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print(sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [63]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [64]:
print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [65]:
print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [66]:
s.str.len()

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [67]:
print ("Split Pattern:")
s.str.split(' ')

Split Pattern:

0              [Tom]
1    [William, Rick]
2             [John]
3          [Alber@t]
4                NaN
5             [1234]
6       [SteveSmith]
dtype: object

In [68]:
s.str.cat(sep='_')

'Tom_William Rick_John_Alber@t_1234_SteveSmith'

In [69]:
s.str.contains(' ')

0    False
1     True
2    False
3    False
4      NaN
5    False
6    False
dtype: object

In [70]:
print (s.str.get_dummies())

   1234  Alber@t  John  SteveSmith  Tom  William Rick
0     0        0     0           0    1             0
1     0        0     0           0    0             1
2     0        0     1           0    0             0
3     0        1     0           0    0             0
4     0        0     0           0    0             0
5     1        0     0           0    0             0
6     0        0     0           1    0             0

In [72]:
print (s.str.contains(' '))

0    False
1     True
2    False
3    False
4      NaN
5    False
6    False
dtype: object

In [74]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After replacing @ with $:")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [75]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [76]:
print ("The number of 'm's in each string:")
print (s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

In [78]:
print ("Strings that start with 'T':")
print (s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [79]:
print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [80]:
print (s.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

In [81]:
print (s.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

In [82]:
print (s.str.swapcase())

0             tOM
1     wILLIAM rICK
2             jOHN
3          aLBER@T
dtype: object

In [83]:
print (s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [84]:
print (s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [85]:
print (s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool

In [86]:
print(pd.get_option("display.max_rows"))

60

In [88]:
pd.set_option("display.max_rows",80)

print (pd.get_option("display.max_rows"))

80

In [89]:
pd.reset_option("display.max_rows")
print (pd.get_option("display.max_rows"))

60

In [90]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a  0.240413  0.129287 -0.157227 -0.128354
b -1.219423  0.143354  2.880200  0.380018
c  0.583657  0.934523 -0.266340 -1.608983
d  1.628036 -0.286706 -0.356208 -0.442795
e -0.167244 -0.158929  0.477242 -0.403343
f  0.104536  0.175739 -0.571962 -0.691009
g  0.777459  0.133961  0.944345  1.310730
h -0.258647 -0.098758  0.225254  1.001917

In [91]:
#select all rows for a specific column
df.loc[:,'A']

a    0.240413
b   -1.219423
c    0.583657
d    1.628036
e   -0.167244
f    0.104536
g    0.777459
h   -0.258647
Name: A, dtype: float64

In [93]:
# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
a  0.240413 -0.157227
b -1.219423  2.880200
c  0.583657 -0.266340
d  1.628036 -0.356208
e -0.167244  0.477242
f  0.104536 -0.571962
g  0.777459  0.944345
h -0.258647  0.225254

In [94]:
df.loc[['a','b','f','h'],['A','C']]

          A         C
a  0.240413 -0.157227
b -1.219423  2.880200
f  0.104536 -0.571962
h -0.258647  0.225254

In [95]:
df.loc['a':'h']

          A         B         C         D
a  0.240413  0.129287 -0.157227 -0.128354
b -1.219423  0.143354  2.880200  0.380018
c  0.583657  0.934523 -0.266340 -1.608983
d  1.628036 -0.286706 -0.356208 -0.442795
e -0.167244 -0.158929  0.477242 -0.403343
f  0.104536  0.175739 -0.571962 -0.691009
g  0.777459  0.133961  0.944345  1.310730
h -0.258647 -0.098758  0.225254  1.001917

In [96]:
df.loc['a']>0

A     True
B     True
C    False
D    False
Name: a, dtype: bool

In [97]:
df.iloc[:4]

          A         B         C         D
a  0.240413  0.129287 -0.157227 -0.128354
b -1.219423  0.143354  2.880200  0.380018
c  0.583657  0.934523 -0.266340 -1.608983
d  1.628036 -0.286706 -0.356208 -0.442795

In [98]:
print (df.iloc[:4])
print (df.iloc[1:5, 2:4])

          A         B         C         D
a  0.240413  0.129287 -0.157227 -0.128354
b -1.219423  0.143354  2.880200  0.380018
c  0.583657  0.934523 -0.266340 -1.608983
d  1.628036 -0.286706 -0.356208 -0.442795
          C         D
b  2.880200  0.380018
c -0.266340 -1.608983
d -0.356208 -0.442795
e  0.477242 -0.403343

In [99]:
print (df.iloc[[1, 3, 5], [1, 3]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

          B         D
b  0.143354  0.380018
d -0.286706 -0.442795
f  0.175739 -0.691009
          A         B        C         D
b -1.219423  0.143354  2.88020  0.380018
c  0.583657  0.934523 -0.26634 -1.608983
          B         C
a  0.129287 -0.157227
b  0.143354  2.880200
c  0.934523 -0.266340
d -0.286706 -0.356208
e -0.158929  0.477242
f  0.175739 -0.571962
g  0.133961  0.944345
h -0.098758  0.225254

In [100]:
df.ix[:4]

C:\Users\HI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          A         B         C         D
a  0.240413  0.129287 -0.157227 -0.128354
b -1.219423  0.143354  2.880200  0.380018
c  0.583657  0.934523 -0.266340 -1.608983
d  1.628036 -0.286706 -0.356208 -0.442795

In [101]:
df.ix[:,'A']

C:\Users\HI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

a    0.240413
b   -1.219423
c    0.583657
d    1.628036
e   -0.167244
f    0.104536
g    0.777459
h   -0.258647
Name: A, dtype: float64

In [102]:
df['A']

a    0.240413
b   -1.219423
c    0.583657
d    1.628036
e   -0.167244
f    0.104536
g    0.777459
h   -0.258647
Name: A, dtype: float64

In [103]:
df[['A','B']]

          A         B
a  0.240413  0.129287
b -1.219423  0.143354
c  0.583657  0.934523
d  1.628036 -0.286706
e -0.167244 -0.158929
f  0.104536  0.175739
g  0.777459  0.133961
h -0.258647 -0.098758

In [105]:
print(df[2:2])

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [106]:
df.A

a    0.240413
b   -1.219423
c    0.583657
d    1.628036
e   -0.167244
f    0.104536
g    0.777459
h   -0.258647
Name: A, dtype: float64